.orange{
	color:#ff5a5f;
}
<div class="image_ay4wjb-o_O-background_1h6n1zu-o_O-fadeIn_3jddj2-o_O-backgroundSize_cover_176vplr" style="width: 100%; height: 100%; background-image: url(&quot;https://a0.muscache.com/im/pictures/5bde122f-0043-43ad-ad62-a0f876133b28.jpg?aki_policy=poster&quot;);"></div>


<div class="image_ay4wjb-o_O-background_1h6n1zu-o_O-fadeIn_3jddj2-o_O-backgroundSize_cover_176vplr" style="width: 100%; height: 100%; background-image: url(&quot;https://a0.muscache.com/im/pictures/66727ea9-cca9-4910-b0de-97b78296c342.jpg?aki_policy=poster&quot;);"></div>
<div class="image_ay4wjb-o_O-background_1h6n1zu-o_O-fadeIn_3jddj2-o_O-backgroundSize_cover_176vplr" style="width: 100%; height: 100%; background-image: url(&quot;https://a0.muscache.com/im/pictures/aeaed612-b00e-4899-872c-2df9f06094d2.jpg?aki_policy=poster&quot;);"></div>